.bottom-area {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .text-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 100%;
    font-weight: normal;
  }
  .hint {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;

    kbd {
      background-color: var(--font-color);
      color: var(--bg-color);
      padding: 2.5px 5px;
      margin: 10px;
      border-radius: 3px;
      font-size: 9pt;
    }
  }
  footer {
    width: 100%;
  }
}
